<div class="row">
  <div class="col-md-6">
    <h3>Week 1: Introduction to Unix Shell</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/setup.html" target="_blank">Setup</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html" target="_blank">Introduction to Shell</a></td> </tr>
      <tr> <td>09:20</td>  <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html" target="_blank">Navigating Files and Directories</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/03-create/index.html" target="_blank">Working with Files and Directories</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html" target="_blank">Pipes and Filters</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank">Loops</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/06-script/index.html" target="_blank">Shell Scripts</a></td> </tr>
      <tr> <td>14:45</td>  <td>Wrap-up and END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Week 2: Introduction to GitHub and Version Control</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/02-setup/index.html" target="_blank">Set up Git</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/git-novice/03-create/index.html" target="_blank">Creating Repository</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/04-changes/index.html" target="_blank">Tracking Chnages</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/05-history/index.html" target="_blank">Exploring History</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank">Remote GitHub</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/08-collab/index.html" target="_blank">Collaborating</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/09-conflict/index.html" target="_blank">Conflicts</a></td> </tr>
      <tr> <td>14:40</td>  <td>Wrap-up and END</td> </tr>
    </table>
  </div> 
  </div>

  <div class="row">
  <div class="col-md-6">
    <h3>Week 3: Programming with Python - Basics</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td>Pre-workshop Survey</td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/setup.html" target="_blank">Set up</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html" target="_blank">Python Fundamentals</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html" target="_blank">Analyzing Patient Data</a></td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib/index.html" target="_blank">Vizualizing Tabular Data</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists/index.html" target="_blank">Storing Multiple Values in Lists</a></td> </tr>
      <tr> <td>13:50</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop/index.html" target="_blank">Repeating Actions with Loops</a></td> </tr>
      <tr> <td>14:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>14:50</td>  <td>END</td> </tr>
    </table>
  </div>
  
  <div class="col-md-6">
    <h3>Week 4: Data Visualization with Python</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td>Pre-workshop Survey</td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/setup.html" target="_blank">Set up</a></td> </tr>
      <tr> <td>09:10</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html" target="_blank">Variables and Assignment</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html" target="_blank">Data Types and Coversion</a></td> </tr>
      <tr> <td>1:00</td>   <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html" target="_blank">Built-in Functions</a></td> </tr>
      <tr> <td>10:50</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html" target="_blank">Libraries</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html" target="_blank">Reading Tabular Data</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html" target="_blank">Pandas Data Frame</a></td> </tr>
      <tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html" target="_blank">Plotting</a></td> </tr>
      <tr> <td>14:45</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html" target="_blank">Conditionals</a></td> </tr>
      <tr> <td>15:25</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets/index.html" target="_blank">Looping Over Datasets</a></td> </tr>
      <tr> <td>15:50</td>  <td>Wrap-up and END</td> </tr>
    </table>
  </div>
  </div>

<div class="row">
  <div class="col-md-6">
    <h3>Week 5: Working with Genomics Databases</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>An Introduction to SRA Database</td> </tr>
      <tr> <td>09:30</td>  <td>SRA Data Formats</td> </tr>
      <tr> <td>10:15</td>  <td>Downloading from SRA</td> </tr>
      <tr> <td>10:45</td>  <td>Submitting to SRA</td> </tr>
      <tr> <td>11:15</td>  <td>SRA on Cloud</td> </tr>
      <tr> <td>11:45</td>  <td>Wrap-up and End</td> </tr>
    </table>
  </div>  
  <div class="col-md-6">
    <h3>Week6: Genomics Project Management</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="http://www.datacarpentry.org/genomics-workshop/setup.html" target="_blank">Set up</a></td> </tr>
      <tr> <td>09:15</td>  <td><a href="https://datacarpentry.org/organization-genomics/01-tidiness/index.html" target="_blank">Data Tidiness</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://datacarpentry.org/organization-genomics/02-project-planning/index.html" target="_blank">Project Planning</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/organization-genomics/03-ncbi-sra/index.html" target="_blank">Examining Data at SRA</a></td> </tr>
      <tr> <td>10:30</td>  <td><a href="https://datacarpentry.org/shell-genomics/05-writing-scripts/index.html">Writing Scripts</a></td> </tr>
      <tr> <td>11:15</td>  <td><a href="https://datacarpentry.org/shell-genomics/06-organization/index.html" target="_blank">Project Organization in Command line</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch Break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/01-background/index.html">Background and Metadata</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/02-quality-control/index.html">Quality Control</a></td> </tr>
      <tr> <td>14:45</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:00</td>  <td>END</td> </tr>
    </table>
  </div>
  </div>

<div class="row">
    <div class="col-md-6">
    <h3>Week 7: Genomics data Analysis</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/03-trimming/index.html">Quality Control-Trimming and Filtering</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/04-variant_calling/index.html">Variant Calling</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/04-variant_calling/index.html">Variant Calling Exercises</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/05-automation/index.html">Automating Variant Calling Exercises</a></td> </tr>
      <tr> <td>14:30</td>  <td><a href="https://datacarpentry.org/wrangling-genomics/05-automation/index.html">Integrated Genome Browser</a></td> </tr>
      <tr> <td>15:30</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
  
